<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/slick.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<title>Themes add</title>
	<script src="/static/js/common.js"></script>
	<script>
  function previewFile(iDevent) {
			let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png', 'image/gif', 'image/bmp']
			var preview = document.querySelector(`#${iDevent}_img`);
			var file = document.querySelector(`#${iDevent}`).files[0];
			var text_file = document.querySelector(`#${iDevent}_text`);
			var reader = new FileReader();
			let type = file.type;
			console.log(type)

			reader.onloadend = function () {
				if (allowedExtension.indexOf(type) > -1) {
					preview.src = reader.result;
					text_file.style.visibility = 'hidden'
				} else {
					preview.src = "/static/img/empty.png";
					text_file.innerText = file.name;
					text_file.style.visibility = 'visible';
				}


				preview.style.visibility = 'visible';
			}


			if (file) {
				reader.readAsDataURL(file);
			} else {
				preview.src = "";
			}
		}

</script>
</head>
<body>
	<header class="header">
		<a href="/" style="color: #64748B;text-decoration: none;font-size: 15px;"><b>Theme Store</b></a>
	</header>
	<div class="page-content">
		<nav class="nav">
			<div class="name">
				<img src="/static/img/menu.svg"> Resources
			</div>
			<ul class="ul">
				<li><a href="{% url 'home' %}" class="active">Themes</a></li>
				<li><a href="{% url 'icons' %}">Icons</a></li>
				<li>
					<a class="with_sub">Widgets</a>
					<ul>
						<li><a href="{% url 'widgetslock' %}">Lock screen</a></li>
						<li><a href="{% url 'widgetshome' %}">Home screen</a></li>
					</ul>
				</li>
				<li><a href="{% url 'wallpapers' %}">Wallpapers</a></li>

			</ul>
		</nav>
		<div class="main-block">
			<h1>New Theme</h1>
			<div class="create">

				<form method = "post" enctype="multipart/form-data">
					{% csrf_token %}

				<div class="fields">
					<div class="field">
						<p>Premium</p>
						<input id="premium" name="premium" type="checkbox" >
					</div>
					<div class="field">
						<p>Name</p>
						<input id="name" name="name"  type="text" placeholder="Fill name">
					</div>
					<div class="field">
						<p>Preview</p>
						<button  id="preview_b" type="button" class="upload">Upload</button>
						<input  id="preview" class="preview" name="preview"  value="1"  type="file" onchange="previewFile(this.id)"><br>
						<img src="/static/img/empty.png" class="img" id="preview_img" style="visibility:hidden">
						<a id="preview_text" style="visibility:hidden">t</a>
					</div>
					<div class="field">
						<p>Icons</p>
						<button  id="icons_b" type="button" class="upload">Upload</button>
						<input id="icons" name="icons"  value="2"  type="file"   onchange="previewFile(this.id)"><br>
						<img src="/static/img/empty.png" class="img" id="icons_img" style="visibility:hidden">
						<a id="icons_text" style="visibility:hidden">t</a>
					</div>
					<div class="field">
						<p>Wallpaper</p>
						<button id="wallpaper_b" type="button" class="upload">Upload</button>
						<input id="wallpaper" name="wallpaper" type="file" onchange="previewFile(this.id)"><br>
						<img src="/static/img/empty.png" class="img" id="wallpaper_img" style="visibility:hidden">
						<a id="wallpaper_text" style="visibility:hidden">t</a>
					</div>
					<div class="field">
						<p>Widgets</p>
						<button id="widgets_b" type="button" class="upload">Upload</button>
						<input id="widgets" name="widgets" type="file" onchange="previewFile(this.id)"><br>
						<img src="/static/img/empty.png" class="img" id="widgets_img" style="visibility:hidden">
						<a id="widgets_text" style="visibility:hidden">t</a>
					</div>
					<div class="field">
						<p>Font</p>
						<input id="font" name="font"  type="text" placeholder="Fill font" value="off">
					</div>
					<input id="cat_slug" name="cat_slug" value="{{ cat_slug }}" type="hidden">
				</div>
					<button class="button other"  value="Submit" type="submit">Create</button>
					</form>

			</div>
		</div>
	</div>
</body>
</html>