{% load static %}
{% load mine %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/slick.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="/static/js/common.js"></script>
	<title>Themes</title>
	<script>
  function previewFile(e) {
	  		console.log(e.target.id);
			let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png', 'image/gif', 'image/bmp']
			var preview = document.querySelector(`#${iDevent}_img`);
			var file = document.querySelector(`#${iDevent}`).files[0];
			var text_file = document.querySelector(`#${iDevent}_text`);
			var reader = new FileReader();
			let type = file.type;
			console.log(type)

			reader.onloadend = function () {
				if (allowedExtension.indexOf(type) > -1) {
					preview.src = reader.result;
					text_file.style.visibility = 'hidden'
				} else {
					preview.src = "/static/img/empty.png";
					text_file.innerText = file.name;
					text_file.style.visibility = 'visible';
				}


				preview.style.visibility = 'visible';
			}


			if (file) {
				reader.readAsDataURL(file);
			} else {
				preview.src = "";
			}
		}

</script>
</head>
<body>
	<header class="header">
		<a href="/" style="color: #64748B;text-decoration: none;font-size: 15px;"><b>Theme Store</b></a>
	</header>
	<div class="page-content">
		<nav class="nav">
			<div class="name">
				<img src="/static/img/menu.svg"> Resources
			</div>
			<ul class="ul">
				<li><a href="{% url 'home' %}" class="active">Themes</a></li>
				<li><a href="{% url 'icons' %}">Icons</a></li>
				<li>
					<a class="with_sub">Widgets</a>
					<ul>
						<li><a href="{% url 'widgetslock' %}">Lock screen</a></li>
						<li><a href="{% url 'widgetshome' %}">Home screen</a></li>
					</ul>
				</li>
				<li><a href="{% url 'wallpapers' %}">Wallpapers</a></li>

			</ul>
		</nav>
		<div class="main-block">
			<h1>New Theme</h1>
			<div class="publish">
				<div class="table">
					<form method = "post" enctype="multipart/form-data">
					{% csrf_token %}
					<table>
						<tr>
							<td>Premium</td>
							{% if 'off' in posts.premium %}
								<td><input  id="premium" name="premium" type="checkbox"></td>
							{% else %}
								  <td><input id="premium" name="premium" type="checkbox" checked></td>
							{% endif %}
							<td></td>
						</tr>
						<tr>
							<td>Name</td>
							<td>{{ posts.name }}</td>
							<td>
								<div class="links">
									<a href="{% url 'edit_index_cat_slug' cat_slug posts.id_theme %}"></a>
									<a href="{% url 'del_p_index_cat_slug' cat_slug posts.id_theme %}"></a>
								</div>
							</td>
						</tr>
						<tr>
							<td>Preview</td>
							<td>
							{% if posts.preview.url|raplacer %}
									<img src="{{ posts.preview.url }}">
								{% else %}
									<img src="/static/img/empty.png" class="img" id="file_img">
									<a id="file_preview">{{ posts.preview.url|get_name }}</a>
								{% endif %}
							</td>
							<td>
								<div class="links">
									<a href="{% url 'edit_index_cat_slug' cat_slug posts.id_theme %}"></a>
									<a href="{% url 'del_p_index_cat_slug' cat_slug posts.id_theme %}"></a>
								</div>
							</td>
						</tr>
						<tr>
							<td>Icons</td>
							<td>
								{% if posts.icons.url|raplacer %}
									<img src="{{ posts.icons.url }}">
								{% else %}
									<img src="/static/img/empty.png" class="img" id="file_img">
									<a id="file_icons">{{ posts.icons.url|get_name }}</a>
								{% endif %}
							</td>


							<td>
								<div class="links">
									<a href="{% url 'edit_index_cat_slug' cat_slug posts.id_theme %}"></a>
									<a href="{% url 'del_p_index_cat_slug' cat_slug posts.id_theme %}"></a>
								</div>
							</td>
						</tr>
						<tr>
							<td>Wallpaper</td>
							<td>
							{% if posts.wallpaper.url|raplacer %}
									<img src="{{ posts.wallpaper.url }}">
								{% else %}
									<img src="/static/img/empty.png" class="img" id="file_img">
									<a id="file_wallpaper">{{ posts.wallpaper.url|get_name }}</a>
								{% endif %}
							</td>


							<td>
								<div class="links">
									<a href="{% url 'edit_index_cat_slug' cat_slug posts.id_theme %}"></a>
									<a href="{% url 'del_p_index_cat_slug' cat_slug posts.id_theme %}"></a>
								</div>
							</td>
						</tr>
						<tr>
							<td>Widgets</td>

							<td>
							{% if posts.widgets.url|raplacer %}
									<img src="{{ posts.widgets.url }}">
								{% else %}
									<img src="/static/img/empty.png" class="img" id="file_img">
									<a id="file_widgets">{{ posts.widgets.url|get_name }}</a>
								{% endif %}
							</td>
							<td>
								<div class="links">
									<a href="{% url 'edit_index_cat_slug' cat_slug posts.id_theme %}"></a>
									<a href="{% url 'del_p_index_cat_slug' cat_slug posts.id_theme %}"></a>
								</div>
							</td>
						</tr>
						<tr>
							<td>Font</td>
							<td>{{ posts.font }}</td>
							<td>
								<div class="links">
									<a href="{% url 'edit_index_cat_slug' cat_slug posts.id_theme %}"></a>
									<a href="{% url 'del_p_index_cat_slug' cat_slug posts.id_theme %}"></a>
								</div>
							</td>
						</tr>
					</table>
				</div>

					<input id="is_publish" name="is_publish" value="on"  type="hidden">
				<button class="button" value="Submit" type="submit" onclick="alert('Publish');">Publish</button>
					</form>
			</div>
		</div>
	</div>
</body>
</html>