{% load static %}
{% load mine %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/slick.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="/static/js/common.js"></script>
	<title>Wallpapers</title>
</head>
<body>
	<header class="header">
		<a href="/" style="color: #64748B;text-decoration: none;font-size: 15px;"><b>Theme Store</b></a>
	</header>
	<div class="page-content">
		<nav class="nav">
			<div class="name">
				<img src="/static/img/menu.svg"> Resources
			</div>
			<ul class="ul">
				<li><a href="{% url 'home' %}">Themes</a></li>
				<li><a href="{% url 'icons' %}">Icons</a></li>
				<li>
					<a class="with_sub">Widgets</a>
					<ul>
						<li><a href="{% url 'widgetslock' %}">Lock screen</a></li>
						<li><a href="{% url 'widgetshome' %}">Home screen</a></li>
					</ul>
				</li>
				<li><a href="{% url 'wallpapers' %}" class="active">Wallpapers</a></li>

			</ul>
		</nav>
		<div class="main-block">
			<h1>New Icon Set</h1>
			<div class="publish">
				<div class="table">
					<table>
						<form method = "post" enctype="multipart/form-data">
					{% csrf_token %}
						<tr>
							<tr>
							<td>Premium</td>
							{% if 'off' in posts.premium %}
								<td><input  id="premium" name="premium" type="checkbox"></td>
							{% else %}
								  <td><input id="premium" name="premium" type="checkbox" checked></td>
							{% endif %}
							<td></td>
						</tr>
						<tr>
							<td>Name</td>
							<td>{{ posts.name }}</td>
							<td>
								<div class="links">
									<a href="{% url 'edit_wallpapers_cat_slug' cat_slug posts.id_wallpapers %}"></a>
									<a href="{% url 'del_p_wallpapers_cat_slug' cat_slug posts.id_wallpapers %}"></a>
								</div>
							</td>
						</tr>
						<tr>
							<td>Wallpaper</td>
							<td>{% if posts.wallpaper.url|raplacer %}
									<img src="{{ posts.wallpaper.url }}">
								{% else %}
									<img src="/static/img/empty.png" class="img" id="file_img">
									<a id="file_wallpaper">{{ posts.wallpaper.url|get_name }}</a>
								{% endif %}</td>
							<td>
								<div class="links">
									<a href="{% url 'edit_wallpapers_cat_slug' cat_slug posts.id_wallpapers %}"></a>
									<a href="{% url 'del_p_wallpapers_cat_slug' cat_slug posts.id_wallpapers %}"></a>
								</div>
							</td>
						</tr>
					</table>
				</div>

					<input id="is_publish" name="is_publish" value="on"  type="hidden">
				<button class="button" value="Submit" type="submit" onclick="alert('Publish');">Publish</button>
					</form>
			</div>
		</div>
	</div>
</body>
</html>